:root {
  --orange-900: #1b0704;
  --orange-700: #40190c;
  --orange-400: #7d3c1b;
  --orange-100: #bb6529;
  --orange-90: #dd7f32;
  --orange-60: #e8ae7a;
  --orange-40: #eec99f;
  --orange-30: #f2d9b3;
  --orange-20: #f5e4c4;
  --orange-10: #faf4e6;
  --orange-900-rgb: 27, 7, 4;
  --orange-700-rgb: 64, 25, 12;
  --orange-400-rgb: 125, 60, 27;
  --orange-100-rgb: 187, 101, 41;
  --orange-90-rgb: 221, 127, 50;
  --orange-60-rgb: 232, 174, 122;
  --orange-40-rgb: 238, 201, 159;
  --orange-30-rgb: 242, 217, 179;
  --orange-20-rgb: 245, 228, 196;
  --orange-10-rgb: 250, 244, 230;

  --red-900: #1c0208;
  --red-700: #571628;
  --red-400: #943853;
  --red-100: #ca5a7c;
  --red-90: #e76e92;
  --red-60: #ee9db2;
  --red-40: #f4bcc7;
  --red-30: #f7d1d5;
  --red-20: #fae2e3;
  --red-10: #fdf7f7;
  --red-900-rgb: 28, 3, 8;
  --red-700-rgb: 87, 22, 40;
  --red-400-rgb: 148, 56, 83;
  --red-100-rgb: 202, 90, 124;
  --red-90-rgb: 231, 110, 146;
  --red-60-rgb: 238, 157, 178;
  --red-40-rgb: 244, 188, 199;
  --red-30-rgb: 247, 209, 213;
  --red-20-rgb: 250, 226, 227;
  --red-10-rgb: 253, 247, 247;

  --purple-900: #0e0c15;
  --purple-700: #2f273e;
  --purple-400: #5d4972;
  --purple-100: #8868a1;
  --purple-90: #9f78ba;
  --purple-60: #c0a5d1;
  --purple-40: #d6c3e0;
  --purple-30: #e5d7ea;
  --purple-20: #f0e6f2;
  --purple-10: #f8f4f9;
  --purple-900-rgb: 14, 12, 21;
  --purple-700-rgb: 47, 39, 62;
  --purple-400-rgb: 93, 73, 114;
  --purple-100-rgb: 136, 104, 161;
  --purple-90-rgb: 159, 120, 186;
  --purple-60-rgb: 192, 165, 209;
  --purple-40-rgb: 214, 195, 224;
  --purple-30-rgb: 229, 215, 234;
  --purple-20-rgb: 240, 230, 242;
  --purple-10-rgb: 248, 244, 249;

  --blue-900: #0a0f15;
  --blue-700: #1a2635;
  --blue-400: #395175;
  --blue-100: #5776b1;
  --blue-90: #6788d1;
  --blue-60: #9aade0;
  --blue-40: #bfc8eb;
  --blue-30: #d7dbf3;
  --blue-20: #e8e9f8;
  --blue-10: #f4f4fb;
  --blue-900-rgb: 10, 15, 21;
  --blue-700-rgb: 26, 38, 53;
  --blue-400-rgb: 57, 81, 117;
  --blue-100-rgb: 87, 118, 177;
  --blue-90-rgb: 103, 136, 209;
  --blue-60-rgb: 154, 173, 224;
  --blue-40-rgb: 191, 200, 235;
  --blue-30-rgb: 215, 219, 243;
  --blue-20-rgb: 232, 233, 248;
  --blue-10-rgb: 244, 244, 251;

  --green-900: #0d1202;
  --green-700: #1d280a;
  --green-400: #3e561e;
  --green-100: #5a8036;
  --green-90: #6a9847;
  --green-60: #8fba79;
  --green-40: #abd59d;
  --green-30: #c3e6bc;
  --green-20: #d8f1d4;
  --green-10: #eff9ed;
  --green-900-rgb: 13, 18, 2;
  --green-700-rgb: 29, 40, 10;
  --green-400-rgb: 62, 86, 30;
  --green-100-rgb: 90, 128, 54;
  --green-90-rgb: 106, 152, 71;
  --green-60-rgb: 143, 186, 121;
  --green-40-rgb: 171, 213, 157;
  --green-30-rgb: 195, 230, 188;
  --green-20-rgb: 216, 241, 212;
  --green-10-rgb: 239, 249, 237;

  --gold-900: #141100;
  --gold-700: #2b2505;
  --gold-400: #584e15;
  --gold-100: #81752c;
  --gold-90: #9f903f;
  --gold-60: #bfb272;
  --gold-40: #d6cb8e;
  --gold-30: #e5da9f;
  --gold-20: #f0e7b6;
  --gold-10: #f9f5e0;
  --gold-900-rgb: 20, 17, 0;
  --gold-700-rgb: 43, 37, 5;
  --gold-400-rgb: 88, 78, 21;
  --gold-100-rgb: 129, 117, 44;
  --gold-90-rgb: 159, 144, 63;
  --gold-60-rgb: 191, 178, 114;
  --gold-40-rgb: 214, 203, 142;
  --gold-30-rgb: 229, 218, 159;
  --gold-20-rgb: 240, 231, 182;
  --gold-10-rgb: 249, 245, 224;
}
